@import "src/googleMaterial.css";
@import "src/css/bootstrap.min.css";


body {
  font-family: system-ui, sans-serif;
  background: #0f1115;
  color: #eaeaea;
  width: 100%;
  /* max-width: 1024px; */
  margin: auto;
}

.rover-container {
    margin: 2rem auto;
    max-width: 1200px;
    border: 1px solid #666666;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.menu-btn {
  position: fixed;
  top:1rem;
  left:1rem;
  z-index: 1;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
