@import "../styles.css";

.speed-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.nav-map-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.camera-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.button-container > button {
    min-width: 6rem;
}